<div xmlns:th="http://www.thymeleaf.org" th:fragment="barra-nav">
    <nav>
        <!-- Enlace MesaLista con espacio a la derecha -->
        <a href="/mesalista" class="nav-link nav-inicio">MesaLista</a>
        
        <a th:href="@{/producto}" class="nav-link">Productos</a>
        <a th:href="@{/cliente}" class="nav-link">Clientes</a>
        <a th:href="@{/empleado}" class="nav-link">Empleados</a>
        <a th:href="@{/empleado/deliveries}" class="nav-link">Deliveries</a>
        <a th:href="@{/pedido}" class="nav-link">Pedidos</a>
        <a th:href="@{/cocina}" class="nav-link">Cocina</a>
        <a th:href="@{/menudeldia}" class="nav-link">Menú del día</a>
    </nav>
</div>
