<div xmlns:th="http://www.thymeleaf.org" th:fragment="popupCustom2Options">
	<div id="popup-custom-modal" class="popup-overlay hidden">
		<div class="popup-content">
			<div class="popup-icon" id="popup-icon"></div>
			<div class="popup-message" id="popup-message">Mensaje por
				defecto</div>
			<div class="popup-buttons">
				<button id="popup-confirm-btn" class="popup-button confirm">OK</button>
				<button id="popup-cancel-btn" class="popup-button cancel">Cancelar</button>
			</div>
		</div>
	</div>
</div>