@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/yeseva-one.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d4a500; /* Dorado */
    color: white;
    padding: 0.7rem;
    font-family: 'Yeseva One';
    font-weight: normal;
    font-size: 1.7rem;
}

.nav-link {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    margin-right: 1%;
    transition: color 0.3s ease;
}

.nav-inicio {
    margin-right: 3%;
    margin-left: 1%;
}


.nav-link:hover {
    color: black;
}


body {
    font-family: 'Yeseva One';
    margin: 0;
    padding-top: 60px;
}


