@font-face {
    font-family: 'Yeseva One';
    src: url('/mesalista/fonts/yeseva-one.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
    background-color: #fff6cf;
    margin: 0;
}

.nav-dorada {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d4a500;
    padding: 13px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    position: relative;   /* importante para que el <a> se posicione dentro */
    text-align: center;   /* centra el h1 */
}


/* Enlace a la izquierda */
.nav-dorada a {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    font-family: 'Yeseva One';
    font-weight: normal;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}


.nav-dorada a:hover {
    color: black;
}


#reloj {
    position: fixed;
    top: 13px;
    right: 1rem;
    color: black;
    font-family: 'Arial';
    font-size: 28px;
    white-space: nowrap;
    z-index: 1001;
    pointer-events: none;
    margin-right: 30px;
}


.nav-dorada h1 {
    margin: 0;
    font-family: 'Yeseva One';
    color: white;
    font-size: 30px;
    font-weight: normal;
    display: inline-block;
}

.pedido-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 1rem;
    gap: 1rem;
}


.pedido-card {
    flex: 0 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 420px;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 17px;
}

.pedido-card h2 {
    margin-top: 0;
    color: #007bff;
    font-size: 1.2rem;
}

.pedido-card p {
    margin: 0.3rem 0;
    color: #444;
}

.detalle-item {
    border-bottom: 1px dashed #cccccc;
    padding: 0px;
}

.total {
    margin-top: 1rem;
    font-weight: bold;
    color: #222;
}
