@font-face {
    font-family: 'Yeseva One';
    src: url('/mesalista/fonts/yeseva-one.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
    background-color: #fff6cf;
    margin: 0;
}

.nav-dorada {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d4a500;
    padding: 13px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    position: relative;   /* importante para que el <a> se posicione dentro */
    text-align: center;   /* centra el h1 */
}


/* Enlace a la izquierda */
.nav-dorada a {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    font-family: 'Yeseva One';
    font-weight: normal;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}


.nav-dorada a:hover {
    color: black;
}


#reloj {
    position: fixed;
    top: 13px;
    right: 1rem;
    color: black;
    font-family: 'Arial';
    font-size: 28px;
    white-space: nowrap;
    z-index: 1001;
    pointer-events: none;
    margin-right: 30px;
}


.nav-dorada h1 {
    margin: 0;
    font-family: 'Yeseva One';
    color: white;
    font-size: 30px;
    font-weight: normal;
    display: inline-block;
}

.pedido-container {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap; /* Cambiar nowrap a wrap */
    overflow-x: visible; /* o eliminar overflow-x si no lo necesitas */
    padding: 0 15px;
    gap: 10px; /* Puedes usar gap en ambos ejes */
}


.pedido-card {
	user-select: none;
    flex: 0 0 auto;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 420px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.pedido-card h2 {
    margin-top: 0;
    color: #007bff;
    font-size: 1.2rem;
}

.pedido-card p {
    margin: 0.3rem 0;
    color: #444;
}

.detalle-item {
    border-bottom: 1px dashed #cccccc;
    padding: 0px;
}

.total {
    margin-top: 1rem;
    font-weight: bold;
    color: #222;
}

/*Control de Sonido*/
/* Botón de sonido flotante */
.boton-sonido {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 5px;
    z-index: 999;
    transition: background-color 0.3s ease;
}

.boton-sonido:hover {
    background-color: #e7fce7;
}

.boton-sonido img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

