h2 {
    font-size: 34px;
    text-align: left;
    margin-top: 10px;
    margin-left: 40px;
    color: #8d8c8e;
    font-weight: normal;
}

h2 {
    font-size: 22px;
    text-align: left;
    margin-top: 10px;
    margin-left: 60px;
    color: #8d8c8e;
    font-weight: normal;
}