body {
    background-color: #ffffff;
    font-family: 'Yeseva One';
    margin: 0;
    padding: 0;
    padding-top: 4vw;
}

h2 {
    font-size: 1.77vw;
    text-align: left;
    margin-top: 0.52vw;
    margin-left: 3.12vw;
    color: #8d8c8e;
    font-weight: normal;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 1.04vw;
    color: #555;
}

main {
    padding: 1.04vw;
}

@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/yeseva-one.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.buscar-cliente-form {
    max-width: 18.75vw;
    margin: 0 auto;
    margin-left: 2.6vw;
    padding: 1.04vw;
    font-size: 1.04vw;
    color: #8d8c8e;
}

.form-group {
    margin-bottom: 0.52vw;
}

.form-group:last-child {
    display: block;
    justify-content: center;
}

.input-text {
    width: 14.06vw;
    padding: 0.42vw;
    border-radius: 0.42vw;
    border: 1px solid #6e6e6e;
    font-size: 1.04vw;
    font-family: 'Consolas';
}

.btn-submit {
    width: 10.42vw;
    background-color: #d4a500;
    color: white;
    padding: 0.52vw 1.04vw;
    border: none;
    border-radius: 1.72vw;
    cursor: pointer;
    font-size: 1.46vw;
    font-family: 'Yeseva One';
    margin-left: 13.28vw;
    transition: color 0.3s ease;
    margin-bottom: 1.3vw;
}

.btn-submit-2 {
    width: 12.5vw;
    background-color: #d4a500;
    color: white;
    padding: 0.52vw 1.04vw;
    border: none;
    border-radius: 1.72vw;
    cursor: pointer;
    font-size: 1.46vw;
    font-family: 'Yeseva One';
    margin-left: 0;
    margin-top: -2.6vw;
    transition: color 0.3s ease;
}

.btn-submit-3 {
    width: 19.79vw;
    background-color: #d4a500;
    color: white;
    padding: 0.52vw 1.04vw;
    border: none;
    border-radius: 1.72vw;
    cursor: pointer;
    font-size: 1.46vw;
    font-family: 'Yeseva One';
    margin-left: 8.5vw;
    transition: color 0.3s ease;
    margin-bottom: 1.3vw;
}

.btn-submit:hover,
.btn-submit-2:hover,
.btn-submit-3:hover {
    color: #333;
}

.contenido-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 7.81vw;
    flex-wrap: wrap;
    margin-top: -0.52vw;
}

.tabla-container {
    margin-top: 1.04vw;
    max-width: 47.92vw;
    padding-right: 10.42vw;
}

.tabla-clientes {
    width: 44.79vw;
    border-collapse: collapse;
    font-size: 0.83vw;
    color: #333;
    transform: scale(0.95);
    transform-origin: top left;
}

.tabla-clientes-rows {
    width: 2.6vw;
    border-collapse: collapse;
    font-size: 1.04vw;
    color: #333;
    font-family: 'Arial';
}

.tabla-clientes input[type="radio"] {
    width: 1.82vw;
    height: 1.82vw;
    accent-color: #d4a500;
    display: block;
    margin: 0 auto;
}

.tabla-clientes th,
.tabla-clientes td {
    padding: 0.26vw;
    text-align: left;
    border: 1px solid #ccc;
}

.tabla-clientes th {
    background-color: #d4a500;
    font-weight: bold;
    color: white;
    font-family: 'Arial';
    font-size: 0.94vw;
}

.button-container {
    margin-top: 1.56vw;
    text-align: left;
}

.cajon-dorado {
    background-color: #d4a500;
    width: 15.1vw;
    padding: 0.52vw;
    border-radius: 3.12vw;
    margin-bottom: 0.52vw;
}

.grupo-flex {
    display: flex;
    align-items: center;
    gap: 0.52vw;
}

.grupo-flex label {
    width: 7.29vw;
    margin-right: 2.6vw;
    font-size: 1.25vw;
    color: #8d8c8e;
    white-space: nowrap;
}
