/* PedidosIncompletos.css */

/* Estilo para el fondo del modal */
.modal-pedidos-incompletos {
	font-family: Arial;
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Contenido del modal */
.modal-pedidos-incompletos-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px 30px;
    border: 1px solid #888;
    width: 85%;
    max-height: 70%;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 60vw;
    max-width: 80vw;
    min-width: 40vw;
}

/* Botón para cerrar el modal */
.close-modal-pedidos-incompletos {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal-pedidos-incompletos:hover,
.close-modal-pedidos-incompletos:focus {
    color: #000;
    text-decoration: none;
}

/* Lista vertical de pedidos */
#listaPedidosIncompletos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Cada ítem de pedido */
.item-pedido-incompleto {
    padding: 12px 18px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Botones dentro de cada ítem */
.item-pedido-incompleto button {
    margin-left: 10px;
    padding: 5px 10px;
    font-family: Yeseva One;
    font-size: 23px;
    color: white;
    background-color: #d4a500;
    font-weight: normal;
    border: none;
    border-radius: 23px;
    transition: color 0.2s ease;
    cursor: pointer;
}

.item-pedido-incompleto button:hover {
	color: black;
}


/* Botón principal de pedidos incompletos */
#btnPedidosIncompletos {
	font-family: Yeseva One;
	font-weight: normal;
    background-color: #d4a500;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 25px;
    transition: color 0.3s ease;
    display: block;
    margin-left: 204px;
    margin-top: 10px;
    white-space: nowrap;
}

#btnPedidosIncompletos:hover {
    color: #333;
}
