.popup-overlay {
    display: none; /* Asegura que el popup no se muestra por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* Aseguramos que esté por encima de otros elementos */
    justify-content: center;
    align-items: center;
}


.popup-content {
    position: relative; /* Necesario para que el botón de cerrar se posicione correctamente */
    background-color: #fff;
    padding: 20px 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    border: 3px solid #b3970b; 
    border-radius: 5px;
}

.popup-close {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.popup-message {
    font-size: 25px;
    color: #8d8c8e;
    margin-top: 20px;
    font-weight: normal;
}


