<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pantalla Cocina - MesaLista v1.0</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/fav.png}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/Cocina.css}" />
</head>
<body>

	<nav class="nav-dorada">
		<a th:href="@{/pedido/cocina/control}">Control de Pedidos</a>
		<h1>Pedidos en preparación</h1>
		<div id="reloj"></div>
	</nav>
	
	<button id="btn-sonido" class="boton-sonido" title="Activar sonido de notificación">
	    <img th:src="@{/img/parlante.png}" alt="Sonido" />
	</button>

    <div class="pedido-container">
        <div class="pedido-card" th:each="pedido : ${pedidos}">
            <h2 th:text="'Pedido #' + ${pedido.id}">Pedido</h2>

            <p><strong>Cliente:</strong> <span th:text="${pedido.cliente.nombre}">Nombre Cliente</span></p>
            <p><strong>Dirección:</strong> <span th:text="${pedido.direccionEntrega}">Dirección</span></p>
            <p><strong>Hora de orden:</strong><span th:text="${#dates.format(pedido.fechaPedido, 'HH:mm')}">00:00</span></p>
            <div class="detalle-item" th:each="detalle : ${pedido.detalles}">
                <p>
                    <span th:text="${detalle.cantidad}">1</span> - 
                    <span th:text="${detalle.producto.nombre}">Producto</span>
                </p>
            </div>

        </div>
    </div>
</body>
<script th:src="@{/js/Cocina.js}"></script>
</html>
