<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="icon" type="image/x-icon" th:href="@{/img/fav.png}" />

<title>Listado de Productos</title>

<!-- CSS general -->
<!-- Link al archivo CSS de la barra de navegación -->

<link rel="stylesheet" type="text/css" th:href="@{/css/BarraNavegacion.css}" />
<link rel="stylesheet" th:href="@{/css/Productos.css}" />
<link rel="stylesheet" th:href="@{/css/PopupCustom2Options.css}" />
</head>
<body>

	<!-- Incluir barra de navegación -->
	<div th:replace="~{components/BarraNavegacion :: barra-nav}"></div>
	
	<!-- Popup Custom Fragment -->
	<div th:replace="~{components/PopupCustom2Options :: popupCustom2Options}"></div>
	
	<!-- Popup de Creación -->
	<div id="create-popup-overlay" class="popup-overlay productos-popup-overlay hidden">
	    <div class="popup-content">
	        <h3>Nuevo Producto</h3>
	        <span id="create-close-btn" class="popup-close">❌</span>
	
	        <form id="create-product-form">
	            <label for="create-nombre">Nombre:</label>
	            <input class="entradadetexto" type="text" id="create-nombre" required />
	
	            <label for="create-precio">Precio S/:</label>
	            <input class="entradadetexto" type="number" id="create-precio" name="precio" step="0.01" required />
	
	            <label for="create-tipo">Tipo de Producto:</label>
	            <select class="entradadetexto" id="create-tipo" required>
	                <option value="1">Entrada</option>
	                <option value="2">Segundo</option>
	                <option value="3">Bebida</option>
	                <option value="4">Postre</option>
	            </select>
	
	            <button type="submit">Crear Producto</button>
	        </form>
	    </div>
	</div>
	

	<!-- Popup de Edición -->
	<div id="edit-popup-overlay" class="popup-overlay productos-popup-overlay hidden">
		<div class="popup-content">

			<h3>Editar Producto</h3>
			<span id="edit-close-btn" class="popup-close">❌</span>
			
			<form id="edit-product-form">
				
				<label for="edit-nombre">Nombre:</label> 
				<input class="entradadetexto" type="text" id="edit-nombre" required /> 
				
				<label for="edit-precio">Precio	S/:</label> 
				<input class="entradadetexto" type="number" id="edit-precio" name="precio" step="0.01"	required> 
				
				<label for="edit-tipo">Tipo de Producto:</label>
				<select class="entradadetexto" id="edit-tipo" required>
					<option value="1">Entrada</option>
					<option value="2">Segundo</option>
					<option value="3">Bebida</option>
					<option value="4">Postre</option>
				</select>
				
				<label for="edit-estado">Estado:</label>
				<input type="text" id="edit-estado" class="estado-texto" disabled />

				<button type="submit">Guardar cambios</button>
			</form>
		</div>
	</div>

	<main>
		<h2>Listado de Productos</h2>


		<div class="filtro-botones">
		    <button id="btn-todos">Mostrar Todos</button>
			<button id="btn-activos">Mostrar Activos</button>
			<button id="btn-inactivos">Mostrar Inactivos</button>
		    <button id="btn-nuevo-producto" class="btn-filtro">Agregar Producto Nuevo</button>
		</div>


		<div class="tabla-productos-container">
			<table class="tabla-productos">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Tipo</th>
						<th>Precio S/</th>
						<th>Estado</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="producto : ${productos}">

						<td><input type="text" th:value="${producto.id}" disabled
							class="input-id" /></td>

						<td class="nombre" th:text="${producto.nombre}">Nombre</td>

						<td class="tipo"
							th:text="${producto.tipoProducto == 1 ? 'Entrada' : producto.tipoProducto == 2 ? 'Segundo' :
						    	producto.tipoProducto == 3 ? 'Bebida' : producto.tipoProducto == 4 ? 'Postre' : 'Desconocido'}">
						</td>

						<td class="precio" th:text="${producto.precio}">Precio</td>

						<td class="estado-td"
							th:classappend="${producto.estado ? 'estado-activo' : 'estado-inactivo'}">
							<span class="estado-texto" th:data-estado="${producto.estado}"
							th:text="${producto.estado ? 'Activo' : 'Inactivo'}"></span> 
							<img th:src="@{/img/Up.png}" alt="Habilitar" title="Habilitar" class="estado-btn estado-habilitar" th:if="${!producto.estado}"
								th:data-id="${producto.id}" /> 
							<img th:src="@{/img/Down.png}" alt="Deshabilitar" title="Deshabilitar" class="estado-btn estado-deshabilitar" th:if="${producto.estado}"
								th:data-id="${producto.id}" />
						</td>

						<td>
							<button class="btn-editar" th:attr="data-id=${producto.id}">Editar</button>
						</td>
										
					</tr>
				</tbody>
			</table>
		</div>
	</main>

<script th:src="@{/js/PopupCustom2Options.js}" defer></script>
<script th:src="@{/js/Productos.js}" defer></script>
<script th:src="@{/js/CrearProducto.js}" defer></script>

</body>
</html>
